/*for entire page*/
body {
  font-family: "Helvetica", "sans-serif";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/*shared throughout page*/
div {
  display: block;
}

h2 {
  display: block;
}

h2, h4 {
  margin: 0px;
  padding: 10px;
}


/*Header*/
header {
  display: flex;
  position: fixed;
  justify-content: center;
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
  width: 100%;
  z-index: 1;
  flex-wrap: wrap;
  background-color: black;
}

header img{
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
}

a nav {
  text-decoration: underline;
}

nav {
  text-align: right;
  flex-grow: 1;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*main secion*/

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}


#our-mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
}

.main-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#our-mission .page-content {
  background-color: black;
  margin: auto;
  width: 100%;
}


/*Tea of the month section*/
